#headingdiv {
    font-size: 300%;
    width: 100%;
    text-align: center;
    background-color: lightgrey;
    padding: 3px;
}

#wrapper {
    width: 100%;
    overflow: hidden;
}

#methodinfo {
    overflow: hidden;
}

#methodchoice {
    width: 400px;
    float: left;
}

#methodinfo{
    padding:20px;
}

#methodchoice{
    padding:20px;
}

.methoddiv{
    padding:20px;
}

.url {
    font-size: 80%;
    font-weight: bold;
}

