.headingstart {
    font-size: 300%;
    width: 1200px;
    height: 50px;
    background-color: lightgrey;
    margin-bottom: 10px;
    align-content:center;
}

.rectangularbutton {
    border: 1px outset blue;
    background-color: lightgrey;
    height: 400px;
    width: 400px;
    font-size: 200%;
    cursor: pointer;
}

.rectangularbutton:hover {
    background-color: blue;
    font-size: 220%;
    color: white;
}

