.headingstart {
    font-size: 300%;
    width: 100%;
    padding: 5px;
    background-color: lightgrey;
    margin-bottom: 10px;
    text-align: center;
}

.rectangularbutton {
    border: 1px outset blue;
    background-color: lightgrey;
    height: 100px;
    width: 400px;
    font-size: 200%;
    margin-bottom: 10px;
    text-align: center;
}

    .rectangularbutton:hover {
        background-color: blue;
        font-size: 220%;
        color: white;
    }

#wrapper {
    width: 100%;
    overflow: hidden;
}

#seconddiv {
    overflow: hidden;
}

#firstdiv {
    width: 400px;
    float: left;
}

#infoDiv {
    /*border: solid 1px black;*/
    padding: 5px;
    margin-left: 10px;
}
