#headingdiv {
    font-size: 300%;
    width: 100%;
    text-align: center;
    background-color: lightgrey;
    padding: 3px;
}

#dmiddiv {
    margin: 10px;
}

#visualizationdiv {
    display: none;
}

#graphwrapperdiv {
    width: 100%;
    overflow: hidden;
}

#graph {
    float: left;
    margin-right: 10px;
    width: 300px;
    height: 400px;
    border: solid 1px black;
}

#nodeInfo {
    overflow: hidden;
    width: 300px;
    padding: 3px;
}
